// $akvo-color-primary: #33c280;
// $akvo-color-primary-hover: #2d9762;
$akvo-color-primary: #4f5459;
$akvo-color-primary-hover: #4f5459;
$akvo-color-secondary: #6c757d;
$akvo-color-hover: #4f5459;

.container {


    width: 100vw;
    height: 100vh;
    background-image: url(../../../public/BG_02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login_modal {
    height: 100%;
}

.akvo_form_control {
    width: 100%;
    background: transparent;
    border: none;
    height: 40px;
    color: #495057 !important;
    font-size: 14px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;

    &:hover {
        background: rgba(255, 255, 255, 0.8);
    }

    &:active,
    &:focus {
        border-color: #fff !important;
    }
}

.akvo_form_control_dark {
    width: 100%;
    background: transparent;
    border: none;
    height: 40px;
    color: #fff !important;
    font-size: 14px;
    border: 1px solid transparent;
    background: rgba(97, 97, 97, 0.6);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;

    &:hover {
        background: rgba(97, 97, 97, 0.8);
    }

    &:active,
    &:focus {
        border-color: #fff !important;
    }
}

.login_modal_width {
    width: 450px !important;
    background-color: rgba(223, 223, 223, 0.8);
    border-radius: 5px;
}

.login_modal_width_2 {
    width: 500px !important;
    background-color: rgba(180, 180, 180, 0.8);
    border-radius: 10px;
}

.p {
    font-size: 14px;
    font-weight: 400;
}

.img {
    width: 300px;
}

.akvo_btn {
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.akvo_btn_primary {
    background: $akvo-color-primary !important;
    border: 1px solid $akvo-color-primary !important;
    color: #fff !important;

    &:hover {
        background: $akvo-color-primary-hover !important;
    }
}

.akvo_btn_secondary {
    background: $akvo-color-secondary !important;
    border: 1px solid $akvo-color-secondary !important;
    color: #fff !important;

    &:hover {
        background: $akvo-color-hover !important;
    }
}

.akvo_cadastro_btn {
    font-weight: 600;
    border-radius: 10px !important;

    &:hover {
        background-color: rgba(255, 255, 255) !important;
        color: $akvo-color-primary !important;
        border: none !important;
    }
}

.error_font_size {
    font-size: 15px;
    font-weight: 500 !important;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeItem {
    animation: fade 2.5s;
}

.h5_modal {
    color: #174d37;
    font-weight: 650;
}

.akvo_modal_button {
    background: transparent;
    border: none;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;

    &:hover {
        background: rgba(255, 255, 255, 0.8);
    }

    &:active,
    &:focus {
        border-color: #fff !important;
    }
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../public/bgLogin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.textAlign>p {
    text-align: justify;
}

.alertSuccess {
    position: fixed;
    top: 50px;
}


.logoImg {
    width: 20vw;
}

.gif {
    width: 30vw;
}

.cardSize {
    margin: 5vh 3vw 5vh 3vw;
}

.title {
    font-size: 50px;
    color: #022350
}

.signInBtn {
    background-color: #022350;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    border: #495057 1px solid;
    transition: ease-in-out .2s;
}

.signInBtn:hover {
    background-color: #fff;
    color: #022350;
    border: #495057 1px solid;
}

.signInBtnOutline {
    background-color: #fff;
    color: #022350;
    border: #495057 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    transition: ease-in-out .2s;
    text-align: center;
}

.signInBtnOutline:hover {
    background-color: #022350;
    color: #fff;
    border: #495057 1px solid;
}

.voltarButton {
    position: relative;
    bottom: 35px;
    left: 10px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 35px;

    }
}

.cardSignIn {
    height: 95vh !important;
    width: 98vw !important;
}