.fixedTopicsTop {
    position: fixed;
    left: 0;
    justify-content: center !important;
    margin: 0 !important;
    width: 100%;
    top: calc(var(--header-height) + 0px);
    padding: 20px 0;
    background: #fff;
    z-index: 0;
    animation: slideDown 1s;
    transition: 0.5s ease;
    padding: 10px 10px 10px 10px;
}



@keyframes slideDown {
    0% {
        top: -50px;
    }

    100% {
        top: calc(var(--header-height) + 0px);
    }
}


.fixedTopicsBottom {
    position: fixed;
    left: 0;
    background-color: red;
    justify-content: center !important;
    margin: 0 !important;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    background: #fff;
    z-index: 0;
    // animation: slideDown 1s;
    // transition: 0.5s ease;
    padding: 10px 10px 10px 10px;

}