.cardIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

.cardIcon>* {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


@media screen and (max-width: 550px) {


    .cardIcon {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .cardIcon>* {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }


}

.newAccountCardIcon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #8f8f8f;
}


.cardTemplate {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 15px;
    box-shadow: 1px 1px 7px 1px rgba(96, 96, 96, 0.6);
    -webkit-box-shadow: 1px 1px 7px 1px rgba(96, 96, 96, 0.6);
    -moz-box-shadow: 1px 1px 7px 1px rgba(96, 96, 96, 0.6);
    position: relative; /* Adicionado */
}

.cardContent { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajuste de largura */
    height: 100%; /* Ajuste de altura */
    padding: 0;
    border-radius: 25px;
    // background-color: rgba(255, 0, 0, 0.284);
    z-index: 1; /* Garantindo que fique sobre a imagem */
    color: #fff;
}

.bankIcon {
    position: relative;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    border-radius: 100%;
}

.cardTitle {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.amountCard {
    border: 2px solid #e6e6e67d;
    border-radius: 5px;
    width: 160px;
    padding: 7px 5px;
}