// PRIMARY
.btn-c-primary {
    color: #fff !important;
    background-color: var(--color-primary) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-primary:hover {
    background-color: var(--color-primary-hover) !important;
}

.btn-c-primary:disabled {
    background-color: var(--color-primary-disabled) !important;
}






// SECONDARY
.btn-c-secondary {
    color: #fff !important;
    background-color: var(--color-secondary) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-secondary:hover {
    background-color: var(--color-secondary-hover) !important;
}

.btn-c-secondary:disabled {
    background-color: var(--color-secondary-disabled) !important;
}




// TERTIAY
.btn-c-tertiary {
    color: #fff !important;
    background-color: var(--color-tertiary) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-tertiary:hover {
    background-color: var(--color-tertiary-hover) !important;
}

.btn-c-tertiary:disabled {
    background-color: var(--color-tertiary-disabled) !important;
}





// SUCCESS
.btn-c-success {
    color: #fff !important;
    background-color: var(--color-success) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-success:hover {
    background-color: var(--color-success-hover) !important;
}

.btn-custom-success:disabled {
    background-color: var(--color-success-disabled) !important;
}






// WARNING
.btn-c-warning {
    color: #fff !important;
    background-color: var(--color-warning) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-warning:hover {
    background-color: var(--color-warning-hover) !important;
}

.btn-c-warning:disabled {
    background-color: var(--color-warning-disabled) !important;
}




// DANGER
.btn-c-danger {
    color: #fff !important;
    background-color: var(--color-danger) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-danger:hover {
    background-color: var(--color-danger-hover) !important;
}

.btn-c-danger:disabled {
    background-color: var(--color-danger-disabled) !important;
}







//PRIMARY OUTLINE
.btn-c-outline-primary {
    color: var(--color-primary) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-primary) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-outline-primary:hover {
    color: #fff !important;
    background-color: var(--color-primary-hover) !important;
    border: 1px solid var(--color-primary-hover) !important;
}

.btn-c-outline-primary:disabled {
    color: var(--color-primary-disabled) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-primary-disabled) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}






//SECONDARY OUTLINE
.btn-c-outline-secondary {
    color: var(--color-secondary) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-secondary) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-outline-secondary:hover {
    color: #fff !important;
    background-color: var(--color-secondary-hover) !important;
    border: 1px solid var(--color-secondary-hover) !important;
}

.btn-c-outline-secondary:disabled {
    color: var(--color-secondary-disabled) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-secondary-disabled) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}




//TERTIAY OUTLINE
.btn-c-outline-tertiary {
    color: var(--color-tertiary) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-tertiary) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-outline-tertiary:hover {
    color: #fff !important;
    background-color: var(--color-tertiary-hover) !important;
    border: 1px solid var(--color-tertiary-hover) !important;
}

.btn-c-outline-tertiary:disabled {
    color: var(--color-tertiary-disabled) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-tertiary-disabled) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}







//SUCCESS OUTLINE
.btn-c-outline-success {
    color: var(--color-success) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-success) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-outline-success:hover {
    color: #fff !important;
    background-color: var(--color-success-hover) !important;
    border: 1px solid var(--color-success-hover) !important;
}

.btn-c-outline-success:disabled {
    color: var(--color-success-disabled) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-success-disabled) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}




//WARNING OUTLINE
.btn-c-outline-warning {
    color: var(--color-warning) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-warning) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-outline-warning:hover {
    color: #fff !important;
    background-color: var(--color-warning-hover) !important;
    border: 1px solid var(--color-warning-hover) !important;
}

.btn-c-outline-warning:disabled {
    color: var(--color-warning-disabled) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-warning-disabled) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}





//DANGER OUTLINE
.btn-c-outline-danger {
    color: var(--color-danger) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-danger) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}

.btn-c-outline-danger:hover {
    color: #fff !important;
    background-color: var(--color-danger-hover) !important;
    border: 1px solid var(--color-danger-hover) !important;
}

.btn-c-outline-danger:disabled {
    color: var(--color-danger-disabled) !important;
    background-color: #fff !important;
    border: 1px solid var(--color-danger-disabled) !important;
    border-radius: 5px !important;
    transition: .5s ease;
}