.text-c-primary {
    color: var(--color-primary) !important;
}

.text-c-secondary {
    color: var(--color-secondary) !important;
}

.text-c-tertiary {
    color: var(--color-tertiary) !important;
}

.text-c-success {
    color: var(--color-success) !important;
}

.text-c-danger {
    color: var(--color-danger) !important;
}

.text-c-warning {
    color: var(--color-warning) !important;
}

.text-c-info {
    color: var(--color-info) !important;
}

.text-c-light {
    color: var(--color-light) !important;
}

.text-c-dark {
    color: var(--color-dark) !important;
}
